<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <title>Document</title>
</head>

<body>
    <%- include('nav.ejs') %>
    <!-- Add HTML that is effectively an instruction manual for using ToDoApp -->
    <h1>Nav Bar Manual</h1>
    <h2>Home</h2>
    On the home page, you have the cahnce to add a task to the list by typing into the "What to do today" text box.<br>
    Beneath this you will find another prompt that states "Date" you will simply input the date.
    <h2>List</h2>
    On the List page, you will be able to view items submitted from the homepage. <br>
    Beneath each entry you will see three tabs "Edit", "Details", "Delete".
    <h3>Edit</h3>
    Upon pressing the "Edit" button you will be directed to a page similar to the Home page but it will allow you to see the selected entry <br>
    and upon seeing it you will be able to edit the task and the date.
    <h3>Details</h3>
    Upon pressing the "Details" button you will be directed to a page highlighting the selected task, and only that task.
    <h3>Delete</h3>
    Upon pressing the "Delete" button the task will be deleted.
</body>
</html>