.icon-preview {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
.icon-preview span {
font-size: 36px;
margin-right: 10px;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}